body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #4c23b9; /* Cor da página Index */
    padding: 1em;
    text-align: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
}

.navbar a:hover {
    color: #d0bfff;
}

.navbar a.active {
    color: #f0e6ff;
    font-weight: bold;
}

/* Index */
.index {
    background-color: #4c23b9; /* color1 */
    color: #ffffff; /* Para contraste */
    padding: 2em;
}

/* Programação */
.programacao {
    background-color: #5d9cbd; /* color1 */
    color: #ffffff; /* Para contraste */
    padding: 2em;
}

.programacao h1, .programacao p {
    color: #c2ffff; /* color5 */
}

/* Volei */
.volei {
    background-color: #d87852; /* color1 */
    color: #ffffff; /* Para contraste */
    padding: 2em;
}

.volei h1, .volei p {
    color: #fafafa; /* color5 */
}

/* Carousel */
.carousel-container {
    position: relative;
    max-width: 600px; /* Diminuir tamanho do container */
    margin: 0 auto;
    overflow: hidden;
    background-color: #5d9cbd; /* color1 */
    padding: 10px; /* Reduzido para acompanhar o menor container */
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    max-height: 800px; /* Diminuir altura máxima das imagens */
    object-fit: cover; /* Manter proporção e cortar excesso */
    border-radius: 10px;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
